<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BadEnding</title>
    <script src="https://kit.fontawesome.com/d5ec65f1e9.js" crossorigin="anonymous"></script>
    <script src="header.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
    <script src="retry.js" defer></script>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="badEnding.css">
    <script src="modal.js" defer></script>
    <link rel="stylesheet" href="modal.css">
</head>
<body>
    <div id="nav_bar">
        <!-- 헤더 -->
    </div>
    <div class="modal_back">
        <!-- 설명 모달 -->
    </div>
    <!--패배시 메시지 박스-->
    <div class="fail_container">
        <h2>패배</h2>
        <div class="fail_dist">
            전원 총알에 맞아 패배하셨습니다.</br>
            Retry 버튼을 눌러 다시 도전해보세요.
        </div>

        <button id="retry">
            Retry?
        </button>
    </div>

</body>
</html>